<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<!--[if IE 9]>
		<!-- build:js js/polyfill.js -->
			<script type="text/javascript" src="components/html5shiv/dist/html5shiv.min.js"></script>
			<script type="text/javascript" src="components/respond/dest/respond.min.js"></script>
		<!-- /build -->
		<![endif]-->
		<!--[if gte IE 9]>
			<style type="text/css">
			.gradient {
				filter: none !important;
			}
			</style>
		<![endif]-->
		<!-- ****** favicons ****** -->
		<link rel="shortcut icon" href="images/favicon.ico">
		<link rel="icon" sizes="16x16 32x32 64x64" href="images/favicon.ico">
		<link rel="icon" type="image/png" sizes="196x196" href="#">
		<link rel="icon" type="image/png" sizes="160x160" href="#">
		<link rel="icon" type="image/png" sizes="96x96" href="#">
		<link rel="icon" type="image/png" sizes="64x64" href="#">
		<link rel="icon" type="image/png" sizes="32x32" href="#">
		<link rel="icon" type="image/png" sizes="16x16" href="#">
		<link rel="apple-touch-icon" href="#">
		<link rel="apple-touch-icon" sizes="114x114" href="#">
		<link rel="apple-touch-icon" sizes="72x72" href="#">
		<link rel="apple-touch-icon" sizes="144x144" href="#">
		<link rel="apple-touch-icon" sizes="60x60" href="#">
		<link rel="apple-touch-icon" sizes="120x120" href="#">
		<link rel="apple-touch-icon" sizes="76x76" href="#">
		<link rel="apple-touch-icon" sizes="152x152" href="#">
		<link rel="apple-touch-icon" sizes="180x180" href="#">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="#">
		<meta name="msapplication-config" content="#">
		<!-- ****** favicons ****** -->
		<title>{{ title }}</title>
		<!-- build:css https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css -->
		<link rel="stylesheet" href="components/font-awesome/css/font-awesome.min.css">
		<!-- /build -->
		<!-- build:css https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css -->
		<link rel="stylesheet" href="components/jquery-ui/themes/blitzer/jquery-ui.min.css">
		<!-- /build -->
		<!-- build:css https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.theme.min.css -->
		<link rel="stylesheet" href="components/jquery-ui/themes/blitzer/theme.css">
		<!-- /build -->
		<!-- build:css css/lib.min.css -->
		<link rel="stylesheet" href="components/bootstrap-grid-columns-clearing/css/multi-columns-row.css">
		<link rel="stylesheet" href="components/animate.css/animate.min.css">
		<!-- /build -->
		<!-- build:[href] css/ -->
		<link rel="stylesheet" href="stylesheets/bootstrap.min.css">
		<!-- /build -->
		<!-- build:[href] css/ -->
		<link rel="stylesheet" href="stylesheets/styles.css">
		<!-- /build -->
		<!-- build:remove -->
		<!--<script src="http://localhost:35729/livereload.js"></script> -->
		<!-- /build -->
		<!-- <script src="http://192.168.1.66:1337/target/target-script-min.js#anonymous"></script> -->
	</head>
	<body>
		<noscript>
			<div class="alert alert-danger">
				<span><strong>For full functionality of this site it is necessary to enable JavaScript. </strong> Here are the <a href="http://www.enable-javascript.com/" class="alert-link" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</span>
			</div>	
		</noscript>
		<header itemscope itemtype="https://schema.org/WPHeader">
		</header> 
		{% body %}
		<footer itemscope itemtype="https://schema.org/WPFooter">
		</footer>
		<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js -->
		<script src="components/jquery/dist/jquery.min.js"></script>
		<!-- /build -->
		<!-- build:js https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js -->
		<script src="components/jquery-ui/jquery-ui.min.js"></script>
		<!-- /build -->
		<!-- build:js js/lib.min.js -->
		<script src="components/jquery-validation/dist/jquery.validate.min.js"></script>
		<script src="components/placeholders/dist/placeholders.jquery.min.js"></script>
		<script src="components/bootstrap-grid-columns-clearing/js/ie-row-fix.js"></script>
		<script src="javascripts/bootstrap.js"></script>
		<!-- /build -->
		<!-- build:js js/main.js -->
		<script src="javascripts/main.js"></script>
		<!-- /build -->
	</body>
</html>